body
{
font-family: Arial;
font-weight:bold;
background-image: url('astronomy.jpg');
background-repeat: no-repeat;
background-size: cover;
}
nav ul li a,h3{
color:#fff59d;
}
form
{
background-color: #1a237e;
margin-top:5%;
margin-bottom:15%;
margin-left:25%;
margin-right:25%;
color:#fff59d;
font-size: 15px;
text-align: center;
border-style:solid;
border-color: #fff59d;
border-width: 5px;
box-shadow: 10px 10px black;
}
.title
{
margin-top:2%;
font-size: 25px; 
color :#fff59d !important;
text-align: center;
position: relative;
animation-duration: 3s;
animation-name: slidein; 
}
/* Standard syntax */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
input
{
font-size: 30px;
background-color: #424242;
}
.labels
{
text-align: center;
font-size: 15px;
color:#fff59d;
}
.labell
{
text-align: center;
font-size: 65px;
}
.labbel
{
text-align: center;
font-size: 30px;
color:blue;
}
.collec
{
background-color: #80cbc4;
background-image: url('back.jpg');
background-repeat: no-repeat;
background-size: cover;
border-style:solid;
border-color: white;
border-width: 2px;
box-shadow: 3px 3px black;
}
.brd
{
border-bottom-style:solid;
border-bottom-color: white;
border-bottom-width: 2px;
}
.item
{
text-align:center;
}
.desc
{
color:#fff59d;
}
.btn-small
{
display:block;
left:200px;
}
.titre
{
border-style:solid;
border-color: blue;;
border-width: 5px;
background-image: url('astronomy.jpg');
background-repeat: no-repeat;
background-size: cover;
box-shadow: 3px 3px black;
text-shadow: 2px 2px black;
}
.material-icons
{
  text-shadow: 2px 2px black;
}
.collect
{
color:#fff59d;
font-size: 25px;
text-shadow: 2px 2px black;
}
