body
{
font-family: Arial;
font-weight:bold;
background-image: url('astronomy.jpg');
background-repeat: no-repeat;
background-size: cover;
}
nav ul li a,h3{
color:#fff59d;
}
form
{
background-color: #1a237e;
margin-top:5%;
margin-bottom:15%;
margin-left:25%;
margin-right:25%;
color:white;
font-size: 15px;
text-align: center;
border-style:solid;
border-color: white;
border-width: 5px;
}
.title
{
margin-top:2%;
font-size: 25px; 
color :#fff59d !important;
text-align: center;
position: relative;
animation-duration: 3s;
animation-name: slidein; 
}
/* Standard syntax */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
input
{
font-size: 30px;
background-color: #424242;
}
.labels
{
text-align: center;
font-size: 15px;
color:white;
}
.labell
{
text-align: center;
font-size: 65px;
}
.labbel
{
text-align: center;
font-size: 30px;
color:blue;
}
.collec
{
border-style:solid;
border-color: white;
border-width: 2px;
}
